In [1]:
import pandas as pd

In [2]:
# https://en.wikipedia.org/wiki/Elizabeth_II

events = {
    "Philip": {'date': '1921-06-10', 'importance': 1, 'category': 'birth'},
    "Elizabeth": {'date': '1926-04-21', 'importance': 1, 'category': 'birth'},
    'Engagement': {'date': '1947-07-09', 'importance': 3, 'category': 'both'},
    'Wedding': {'date': '1947-11-20', 'importance': 2, 'category': 'both'},
    "Charles' birth": {'date': '1948-11-14', 'importance': 2, 'category': 'child'},
    "Anne's birth": {'date': '1950-08-15', 'importance': 2, 'category': 'child'},
    'Beginning of reign': {'date': '1952-02-06', 'importance': 1, 'category': 'both'},
    'Coronation': {'date': '1953-06-02', 'importance': 2, 'category': 'both'},
    "Andrew's birth": {'date': '1960-02-19', 'importance': 2, 'category': 'child'},
    "Edward's birth": {'date': '1964-03-10', 'importance': 2, 'category': 'child'},
    "Philip's death": {'date': '2021-04-09', 'importance': 2, 'category': 'death'},
    "Elizabeth's death": {'date': '2022-09-08', 'importance': 1, 'category': 'death'},
}

events_df = pd.DataFrame.from_dict(events, orient='index').reset_index().rename(columns={'index':'event'})
events_df

                 event        date  importance category
0               Philip  1921-06-10           1    birth
1            Elizabeth  1926-04-21           1    birth
2           Engagement  1947-07-09           3     both
3              Wedding  1947-11-20           2     both
4       Charles' birth  1948-11-14           2    child
5         Anne's birth  1950-08-15           2    child
6   Beginning of reign  1952-02-06           1     both
7           Coronation  1953-06-02           2     both
8       Andrew's birth  1960-02-19           2    child
9       Edward's birth  1964-03-10           2    child
10      Philip's death  2021-04-09           2    death
11   Elizabeth's death  2022-09-08           1    death

In [3]:
events_df.to_csv("events.csv", index=False)